@model IEnumerable<WebAppBanHangOnlineNhomNBTPQ.tbDANHMUC>

@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Add Product</h2>
                    </div>
                </div>
                @using (Html.BeginForm("AddProduct", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row tm-edit-product-row">
                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="form-group mb-3">
                                <label for="name">Product Name</label>
                                <input id="name" name="name" type="text" class="form-control validate" required />
                            </div>
                            <div class="form-group mb-3">
                                <label for="description">Description</label>
                                <textarea name="description" class="form-control validate" rows="3" required></textarea>
                            </div>
                            <div class="form-group mb-3">
                                <label for="size">Size</label>
                                <input id="size" name="size" type="text" class="form-control validate" required />
                            </div>
                            <div class="form-group mb-3">
                                <label for="color">Color</label>
                                <input id="color" name="color" type="text" class="form-control validate" required />
                            </div>
                            <div class="form-group mb-3">
                                <label for="price">Price</label>
                                <input id="price" name="price" type="text" class="form-control validate" required />
                            </div>
                            <div class="form-group mb-3">
                                <label for="category">Category</label>
                                <select name="category" class="custom-select tm-select-accounts" id="category">
                                    <option selected>Select category</option>
                                    @foreach (var category in ViewBag.Categories as IEnumerable<WebAppBanHangOnlineNhomNBTPQ.tbDANHMUC>)
                                    {
                                        <option value="@category.MADANHMUC">@category.TENDANHMUC</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label for="stock">Quantity</label>
                                <input id="stock" name="quantity" type="text" class="form-control validate" required />
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                            <div class="custom-file mt-3 mb-3">
                                <input id="fileInput" name="fileInput" type="file" class="custom-file-input" />
                                <label class="custom-file-label" for="fileInput">Choose file...</label>
                            </div>
                            <img id="previewImage" src="#" alt="Your Image" style="display:none; max-width:100%; height:auto;" />
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block text-uppercase">Add Product Now</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#fileInput').change(function (e) {
            var fileName = e.target.files[0].name;
            $('.custom-file-label').html(fileName);

            var reader = new FileReader();
            reader.onload = function (e) {
                $('#previewImage').attr('src', e.target.result);
                $('#previewImage').show();
            }
            reader.readAsDataURL(this.files[0]);
        });
    });
</script>
